<div class="ng-scope ng-isolate-scope sidebar">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget"></div>
        <ul class="navi">
            <li class="nlightblue fade-selection-animation" ui-sref-active="current">
                <a ui-sref="dashboard" class="ng-binding"><i
                        class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="nlightblue fade-selection-animation" ui-sref-active="current">
                <a ui-sref="avengers" class="ng-binding"><i
                        class="fa fa-lock"></i> Avengers</a>
            </li>
        </ul>
    </div>
</div>
